.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    padding: 1rem;
}

.favorite {
    align-self: flex-end;
    cursor: pointer;
}