.story-container {
    padding: 1rem;
}
.story-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.top-logo {
    max-width: 80%;
    height: auto;
    margin-bottom: 1rem;
}

.story-selection-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  color: var(--text-color);
}

