.story-container {
    padding: 1rem;
}
.story-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.story-selection-title {
  display: flex;
  justify-content: center;
  align-items: center;
}