.navbar {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-bottom: 0.25rem solid var(--accent-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
}

.left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.links .navLink {
    text-decoration: none;
    padding: 1rem;
    color: var(--text-primary);
    border-bottom: 0.25rem solid transparent;
    margin-top: 0.5rem;
}

.navLink:hover {
    background-color: var(--accent-color);
    border-radius: 0.625rem 0.625rem 0 0;
    margin-top:0.5rem;
}

.isActive {
    background-color: var(--accent-color);
    border-radius: 0.625rem 0.625rem 0 0;
    margin-top:0.5rem;
}