.story-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story-page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    max-width: 80%;
    padding: 1rem;
}

.page-reading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.page-image {
    width: 70%;
    height: 12.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.page-description {
    margin: 0;
    text-align: center;
    width: 100%;
    white-space: balance;
}

.page-bookmark {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
    width: 100%;
}

.page-choice-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.page-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 2rem;
    width: 100%;
}

.page-actions button {
    margin: 0.5rem;
}

/* Story end styling */
.story-page-end-choices-footer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    padding-bottom: 2rem;
}

.story-page-end-footer h3 {
    text-align: center;
    margin: 0.5rem 0;
}

.story-page-end-footer {
    padding-bottom: 4rem;
}