:root {
  /* default background variable values */
  --bg-image: url("assets/background/temporary-background-one.jpg");
  --bg-size: cover;
  --bg-position: center;
  --bg-repeat: no-repeat;
  --bg-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 2rem;
  text-align: center;
  min-height: var(--bg-height);
  background-image: var(--bg-image);
  background-size: var(--bg-size);
  background-position: var(--bg-position);
  background-repeat: var(--bg-repeat);
  background-attachment: var(--bg-attachment);
}

.main {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 20px;
  min-width: 30rem;
  max-width: 80%;
  height: fit-content;
}

