:root {
  /* default background variable values */
  --bg-image: url("assets/background/temporary-background-one.jpg");
  --bg-size: cover;
  --bg-position: center;
  --bg-repeat: no-repeat;
  --bg-attachment: fixed;
  /* TODO fix odd scale height vh % issue where it doesnt cover all */
  --bg-height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 2rem;
  text-align: center;
  height: var(--bg-height);
  background-image: var(--bg-image);
  background-size: var(--bg-size);
  background-position: var(--bg-position);
  background-repeat: var(--bg-repeat);
  background-attachment: var(--bg-attachment);
}

.main {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 20px;
  height: 100%;
  width: 80%;
}

