:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

body {
  margin: 0;
  padding: 0;
  min-width: 20rem;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}

h1, h2, h3, h4, p {
  color: var(--text-color)
}



@media (prefers-color-scheme: light) {

  [data-theme="light"] {
    --primary-color: #f9fafb;
    --secondary-color: #fff;
    --accent-color: #535bf2;
    --text-color: #000;
    --alert-color: #e41515;
  }
    [data-theme="dark"] {
    --primary-color: #1e1e1e;
    --secondary-color: #000;
    --accent-color: #535bf2;
    --text-color: #fff;
    --alert-color: #e41515;
  }
}
